:root {
  --font-mono: 'Roboto Mono', monospace;
  --color-black: #1a1a1a;
  --color-white: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
   overflow-x: hidden;
}

body {
  font-family: system-ui;
  font-size: 16px;
  line-height: 32px;

  margin: 0;
  color: rgb(1000, 1000, 1000);

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-size: 60px;
  color: var(--color-black);
}

h3 {
  font-family: var(--font-heading);
  font-size: 31px;
  color: var(--color-black);
}

p {
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--color-black);
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 70px;
}

/* .home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 45px;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 400px) {
    padding: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h1 {
      text-align: center;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }

    .admin {
      color: rgb(0, 0, 0);
      background: rgb(1000, 1000, 1000);
      border: 1px solid rgb(0, 0, 0);
    }

    .docs {
      color: rgb(1000, 1000, 1000);
      background: rgb(0, 0, 0);
      border: 1px solid rgb(1000, 1000, 1000);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 6px;
    }

    p {
      margin: 0;
    }

    .codeLink {
      text-decoration: none;
      padding: 0 0.5rem;
      background: rgb(60, 60, 60);
      border-radius: 4px;
    }
  }
} */

@media (max-width: 976px) {
   h1,
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }
  .container {
    padding: 60px 60px;
  }
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
  .container {
    padding: 50px 20px;
  }
}